body {
/*
    margin: 0;
    padding: 0;
*/
    padding-top: 55px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

nav {
    color: white;
    font-size: 1.3em;
}

a {
    color: inherit;
}

.header {
    background: url(https://res.cloudinary.com/mayerxc/image/upload/e_grayscale/v1508181408/oliver-thomas-klein-161835_ccz0mo.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    overflow: auto;

}

.card {
    
}

#about {
    text-align: center;
    /* height: 80vh; */
    background-color: white;
    padding-bottom: 3rem;
}

#about h1 {
    padding: 3rem 0 3rem 0;
}
#about p {
    text-align: left;
    
}

#contact {
    text-align: center;
    height: 80vh;
    color: white;
    background-color: black;
}

#contact h1 {
    padding: 3rem 0 3rem 0;
}

#contact .links {
    display: block;
}


